@import url(general.css);
@import url(nav.css);
@import url(form.css);


h1{
    text-align: center;
    color: var(--background-color-darker);
}

form {
    height: 750px;
}

input {
    position: absolute;
    left: 45%;
}

.date-of-birth {
    width: 169.6px;
}

span {
    color: var(--color-lighter);
}

.gpa-span {
    position: absolute;
    top: 80%;
}

#male {
    position: absolute;
    left: 45%;
}

#female {
    position: absolute;
    left: 53%;
}

.gmale {
    position: absolute;
    left: 48%;
}

.gfemale {
    position: absolute;
    left: 56%;
}

.label-level {
    position: absolute;
    left: 48%;
}

#active {
    position: absolute;
    left: 45%;
}

#inactive {
    position: absolute;
    left: 53%;
}

.label-active {
    position: absolute;
    left: 48%;
}

.label-inactive {
    position: absolute;
    left: 56%;
}

.label-dep {
    position: absolute;
    left: 48%;
}