@import url(general.css);
@import url(nav.css);
@import url(form.css);

h1{
    text-align: center;
    color: var(--background-color-darker);
}

span {
    position: absolute;
    left: 45%;
    color: var(--color-lighter);
}

.submit {
    position: absolute;
    left: 45%;
}