@import url(general.css);
@import url(nav.css);
@import url(form.css);

h1{
    text-align: center;
}

input{
    background-color: var(--color-lighter);
}


form {
    text-align: center;
    height: auto;

}



#submit {
    float: none;
}

#delete {
    margin-left: 5px;
}

.buttons-div {
    text-align: center;
}

#submit , #delete{
    display: inline-block;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    margin: 5px; /* Optional margin between buttons */
}

