@import url(general.css);
@import url(nav.css);

.form {
  width: 35%;
  margin: 50px auto;
  border-radius: 5px;
  border: 2px solid var(--background-color-lighter);
}

.form .header {
  width: 100%;
  background-color: var(--background-color-lighter);
  color: var(--color-lighter);
  margin: 0;
  padding: 20px 5px;
  border-radius: 5px 5px 0 0;
}

.form .header h2 {
  margin: 0;
  color: var(--color-lighter);
}

.form .body {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px 40px;
  background-color: var(--color-lighter);
  border-radius: 0 0 5px 5px;
}

.form .body > * {
  flex-basis: 100%;
  margin: 5px 0;
}

.form .error {
  color: #f00;
}

.form input.input-typed {
  width: 100%;
}

.input-div {
  display: inline-flex;
  flex-flow: column wrap;
}

.label {
  font-style: capitalize;
  font-size: 1rem;
  margin: 5px 0;
}

.label::after {
  content: ":";
}

.input-typed {
  width: 200px;
  height: 35px;
  border: 2px solid var(--background-color-lighter);
  border-left: 6px solid var(--background-color-lighter);
  padding: 5px;
  font-size: 1rem;
  background-color: #fff;
}

.input-choiced {
  cursor: pointer;
  width: 150px;
  height: 35px;
  border: 3px solid var(--background-color-lighter);
  padding: 5px;
  font-size: 1rem;
  border-radius: 5px;
  background-color: #fff;
}

.input-disabled {
  cursor: not-allowed;
  background-color: #aaa;
}

.radio-div {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 1rem;
}

.radio-div .option {
  padding: 0 5px;
  height: 100%;
}

.radio-div .option > * {
  cursor: pointer;
}

.radio-div .option input[type="radio"] {
  width: 15px;
  height: 15px;
}

.btn-div {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.btn {
  margin: 10px auto;
  width: 170px;
  height: 45px;
  border-radius: 25px;
  background-color: var(--background-color-lighter);
  color: var(--color-lighter);
  font-size: 1.1rem;
  cursor: pointer;
  border: 0px;
}

.btn:hover {
  background-color: var(--background-color-darker);
  color: var(--color-darker);
  transition-duration: 120ms;
}

.search {
  display: block;
  width: 40%;
  margin: 50px auto;
  background-color: var(--color-lighter);
  height: 40px;
  padding: 5px 20px;
  border-radius: 20px;
  font-size: 1.2rem;
  border: 2px solid var(--background-color-darker);
}
